<!DOCTYPE html>
<html>

<head>
    <title>FastAPI with HTML Templates</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">

</head>

<body>
    <div class="container container-tight py-4">
        <div class="card card-md">
          <div class="card-body">
                <div class="alert alert-danger">Invalid Username/Password</div>
              <div class="form-footer">
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-secoundary">Register</a>
              </div>
            
          </form>
        </div>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">

</body>

</html>