<!DOCTYPE html>
<html>

<head>
    <title>FastAPI with HTML Templates</title>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">

</head>

<body>
    
    <div class="container container-tight py-4">
        <div class="card card-md">
          <div class="card-body">
            <h2 class="h2 text-center mb-4">Register your account</h2>
            <form  method="post" action="/register" autocomplete="off" novalidate="" >
              <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="email" name="username" class="form-control" placeholder="your@email.com" autocomplete="off">
              </div>
              <div class="mb-2">
                <label class="form-label">
                  Password
                </label>
                <div class="input-group input-group-flat">
                  <input type="password" name="password" class="form-control" placeholder="Your password" autocomplete="off">
                </div>
              </div>
              <div class="text-danger" > </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100" >Sign in</button>
              </div>
            
          </form>
        </div>
    </div>



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">

</body>

</html>